body {
  background: #485982;
  font-family: monospace;
}

.icon {
  margin-top: 400px;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  display: inline-flex;
  list-style-type: none;
  transition: all .25s;
}

.yt {
  margin-right: 50px;
  margin-left: 650px;
  background-image: url(youtube.svg);
}

.tw {
  margin-right: 50px;
  background-image: url(twitter.svg);
}

.gh {
  margin-right: 50px;
  background-image: url(github.svg);
}

.gm {
  margin-right: 50px;
  background-image: url(gmail.svg);
}

.icon:hover {
  transform: scale(1.6);
}

.easter {
  color: black;
  text-decoration: none;
  margin-left: 1800px;
}
