body {
	background: #fbe8a6;
	margin: 0;
	font-family: monospace;
}

header {
	margin: 0px;
	background: #f4976c;
	padding: 5px 15px;
}

header h1 {
	margin: 5px 1000px 5px 120px;
	font-size: 60px;
	display: inline;
}

header ul {
	display: inline;
}

header ul li {
	display: inline;
}

a	{
	margin-bottom: 5000px;
	font-size: 30px;
	margin: 0px;
	color: #c600c6;
	text-decoration: none;
	transition: 0.1s;
}

a:hover {
	color: #42b6ff;
}

.some {
	background-image: twitter.png;
}

.intro {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  font-size: 50px;
}

.dreams {
	border-radius: 20px;
	color: tomato;
	background: black;
	margin: 10px auto;
	display: table;
	padding: 10px;
	font-size: 30px;
}

.Background {
	background: white;
	display: table;
	border-radius: 20px;
	margin-left: 820px;;
	margin-top: 15px;
}

.social {
  text-indent: -9999px;
  margin-top: 200px;
  margin-left: 800px;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  opacity: .5;
  transition: all .25s;
  list-style-type: none;
  display: inline-block;
}

nav ul li {
	display: inline-block;
}

.twat {
	background-image: url(tw.png);
}

.tele {
	background-image: url(telegram.png);
	margin-left: 10px;
}

.tube {
	background-image: url(yt.png);
	margin-left: 10px;
}

.social:hover {
	opacity: 1.0;
	transform: scale(1.6);
}

.me {
  margin-left: 830px;
  margin-top: 50px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .7s;
}

.me:hover {
	transform: scale(1.2) rotate(120deg);
}

h2 {
	text-align: center;
}
